@model Configurator_PC.Models.Configurator

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Configurator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processor" class="control-label"></label>
                <select asp-for="ProcessorId" class="form-control" asp-items="ViewBag.ProcessorId"></select>
                <span asp-validation-for="ProcessorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoCard" class="control-label"></label>
                <select asp-for="VideoCardId" class="form-control" asp-items="ViewBag.VideoCardId"></select>
                <span asp-validation-for="VideoCardId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motherboard" class="control-label"></label>
                <select asp-for="MotherboardId" class="form-control" asp-items="ViewBag.MotherboardId"></select>
                <span asp-validation-for="MotherboardId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooling" class="control-label"></label>
                <select asp-for="CoolingId" class="form-control" asp-items="ViewBag.CoolingId"></select>
                <span asp-validation-for="CoolingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RAM" class="control-label"></label>
                <select asp-for="RAMId" class="form-control" asp-items="ViewBag.RAMId"></select>
                <span asp-validation-for="RAMId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSD" class="control-label"></label>
                <select asp-for="SSDId" class="form-control" asp-items="ViewBag.SSDId"></select>
                <span asp-validation-for="SSDId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HardDrive" class="control-label"></label>
                <select asp-for="HardDriveId" class="form-control" asp-items="ViewBag.HardDriveId"></select>
                <span asp-validation-for="HardDriveId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowerSupply" class="control-label"></label>
                <select asp-for="PowerSupplyId" class="form-control" asp-items="ViewBag.PowerSupplyId"></select>
                <span asp-validation-for="PowerSupplyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoundCard" class="control-label"></label>
                <select asp-for="SoundCardId" class="form-control" asp-items="ViewBag.SoundCardId"></select>
                <span asp-validation-for="SoundCardId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkAdapter" class="control-label"></label>
                <select asp-for="NetworkAdapterId" class="form-control" asp-items="ViewBag.NetworkAdapterId"></select>
                <span asp-validation-for="NetworkAdapterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

